
#header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ccc;
}

#header-row {
  padding-bottom: 40px;
}

#menu {
  padding-top: 85px;
}

.fbb-img {
  padding-top: 25px;
}

#footer {
  padding-top: 20px;
  text-align: center;
}

#copy {
  padding-top: 8px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


/**{
margin: 0px;
padding: 0px;
}*/

html {
overflow: auto;
height: 100%;
}

img a, a img{
border: none;
}

img{
border: 1px solid #GGG;
}

body {
background-color: #f6f6f6;
background-image: url(../images/bg.gif);
font-family: Arial, Arial, Verdana, Helvetica, sans-serif;
font-size: 14px;
margin:0px;
padding:0px;
}


table {
border-spacing:0px;
}

td {
vertical-align:top;
padding:15px;
}

p{
text-align: justify;
}

h1{
text-align: center;
font-size: 34px;
font-style: normal;
font-weight: bold;
font-variant: normal;
margin: 0px 0px 20px 0px;
}

h2{
text-align: center;
font-size: 24px;
font-weight: bold;
margin: 10px 0px 10px 0px;
}

h3{
text-align: center;
font-size: 22px;
font-weight: bold;
margin: 0px 0px 10px 0px;
}

h4 {
text-align: center;
font-size: 16px;
font-weight: bold;
margin: 0px 0px 10px 0px;
}

a:link {
color:#006ed4;
text-decoration:none;
}
a:visited {
color:#006ed4;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}

.wrap{
width:900px;
border: 1px solid #CCC;
border-top-width: 0px;
background-color:#FFF;
}

.maintable{
width:100%;
}

.mainleft{
background-color:#EEE;
width:180px;
}

.head{
width:100%;
border: 0px solid #CCC;
border-bottom-width: 1px;

}

.foot{
width:100%;
border: 0px solid #GGG;
border-top-width: 1px;
}

#logoimg{
  width: 207;
  float:left;
}


/*.tabl {
text-align: center;
margin-right: 1px;
margin-left: 1px;
text-indent: 2pt;
font-size: 14px;
}*/

.links {
font-size: 11pt;
font-style: normal;
line-height: normal;
font-weight: normal;
font-variant: normal;
color: #0000FF;
text-decoration: none;
}

/*.tablleft {
text-align: left;
margin-left: 10px;
}*/

/*.text {
color:#BBBBBB;
font-size: 10pt;
text-align: justify
}*/

.head {
font-size: 36px;
font-style: normal;
font-weight: bold;
font-variant: normal;
}

/*.textr {
color:#BBBBBB;
font-size: 10pt;
text-align: right
}

.tbleftsm {
text-align: left;
margin-right: 3px;
margin-left: 3px;
font-size: 11px;
}


.name {
text-align: left;
margin-right: 1px;
margin-left: 1px;
font-size: 12px;
font-weight: bold;

}
.headsm {
font-size: 24px;
font-style: normal;
font-weight: bold;
font-variant: normal;
}*/

.formtable {

}

.formtable table  {
border-spacing:0px;
background-color:#EEE;
text-align:left;
padding:10px;
}

.formtable tr {
background-color:#EEE;
}

.formtable td {
padding:5px;
margin:0px;
}


/*.tablright {
text-align: right;
}*/



.leftmargin {
margin-left: 30px;
}

.centermargin {
margin-left: 250px;
}


.light {
color:#680098;
}

.light_red {
color:#C00000;
}


.center{
margin:0px 0px 0px 80px
}
