%h3 Calendar

%p
  Conference:
  %b July 16&dash;19
  %br/

%p
  Satellite events:
  %b July 20&dash;21
  %br/

%p
  Submission for oral presentations:
  %b April 15

%p
  Submission for poster presentations:
  %b May 15

%p
  Deadline for revised abstracts:
  %b May 31

%p
  Deadline for online registration:
  %b July 1
