#content
  %h3
    Moscow, Russia
    %br>/
    July 16&dash;19, 2015

  %p
    Moscow Conference on Computational Molecular Biology (MCCMB)
    is a biennial forum in various up-to-date areas of computational biology.
    It traditionally takes place in Lomonosov Moscow State University,
    but despite its "local" title both Russian and international scientists participate the conference.

  %p
    The working language of the conference is
    %b English

  %p
    Selected papers of MCCMB'15 participants will be published in the
    %a{:href => "http://www.worldscinet.com/jbcb/jbcb.shtml"}
      Journal of Bioinformatics and Computational Biology


  = Haml::Engine.new(File.read("src/calendar.haml")).render
  = Haml::Engine.new(File.read("src/topics.haml")).render
