!!! 5

%html
  %head
    %title MCCMB'15
    %meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/mccmb.ico", :rel => "shortcut icon"}/
  %body{:background => "images/bg.gif"}

    .container

      #header-row.row
        .col-md-8.col-md-offset-2
          = Haml::Engine.new(File.read("src/header.haml")).render

      #menu-content-row.row
        .col-md-3
          = Haml::Engine.new(File.read("src/menu.haml")).render
        .col-md-9
          = Haml::Engine.new(File.read("src/content.haml")).render

      #footer-row.row
        .col-md-12
          = Haml::Engine.new(File.read("src/footer.haml")).render
