#menu
  %p
    %a.links{:href => "organizers.html"} Organizers
  %p
    %a.links{:href => "sponsorship.html"} Sponsorship opportunities
  %p
    %a.links{:href => "speakers.html"} Invited speakers
  %p
    %a.links{:href => "org.html"} Organizing committee
  %p
    %a.links{:href => "prog.html"} Program committee
  %p
    %a.links{:href => "program.html"} Scientific program
  %p
    %a.links{:href => "contact.html"} Contact information
  %p
    %a.links{:href => "index.html"} To the main page
  %img.fbb-img{:src => "./images/bf_x180.jpg"}
