%h3 Topics of interest

%p The topics of interest include, but are not limited to:

%ul

  %li
    %b Sequence analysis:

  %ul
    %li statistics of DNA and protein sequences;
    %li functional annotation of genes, proteins and genomes.

  %li
    %b Structure of biopolymers:
    %ul
      %li prediction of protein structure;
      %li interaction of proteins with ligands;
      %li comparative analysis of protein 3D structures;
      %li prediction of RNA structure.

  %li
    %b Molecular evolution:
    %ul
      %li phylogenetic analysis;
      %li comparative genomics;
      %li genome rearrangements.

  %li
    %b Omics:
    %ul
      %li genome and metagenome analysis;
      %li transcriptomics;
      %li large-scale analysis os:proteomes and protein-protein interactions.

  %li
    %b Systems biology:
    %ul
      %li
        metabolic and signal pathways;
      %li
        models and networks.

  %li
    %b Bioalgorithms

  %li
    %b Medical bioinformatics:
    %ul
      %li
        computer-aided drug design;
      %li
        human genome polymorphisms in association with diseases;
      %li
        algorithms for analysis of medical data.
